body {
    background: url('https://media.giphy.com/media/LfOE57QI1Khtm/giphy.gif') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 50 50 0 0;
}

#frostedGlass {
    background-color: rgba(0, 0, 0, 0.325);    
    backdrop-filter: blur(18px);
}

html {
    width: 100%;
    height: 100%;
}

button {
    -webkit-transition: width 1s, height 1s, transform 1s, opacity 1s;
    transition: width 1s, height 1s, transform 1s, opacity 1s;
    transition-timing-function: ease-in-out;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

button:active {
    transform: translateY(0.15625em);
}

button:hover {
    background: linear-gradient(30deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 8s ease-in-out infinite;
    -z-animation: rainbow 8s ease-in-out infinite;
    -o-animation: rainbow 8s ease-in-out infinite;
    animation: rainbow 8s ease-in-out infinite;
}

.card-footer {
    width: 250px;
    background: linear-gradient(30deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 59s ease-in-out infinite;
    -z-animation: rainbow 59s ease-in-out infinite;
    -o-animation: rainbow 59s ease-in-out infinite;
    animation: rainbow 59s ease-in-out infinite;
}

h1 {
    font-family: cursive;
    text-decoration-color: rgb(255, 255, 255, 0.5);
}

.gif {
    width: 250px;
    height: 250px;
}

#results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.meme-div {
    flex-direction: row;
}